[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"

[packages]
dj_database_url = "*"
django_heroku = "*"
Django = "*"
python_decouple = "*"

[requires]
python_version = "3.7"
