[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
django-admin = "*"
django-heroku = "*"
gunicorn = "*"
psycopg2 = "*"
psycopg2-binary = "*"
python-decouple = "*"

[requires]
python_version = "3.7"
