{% extends 'core.html' %}
{% load staticfiles %}
{% block title %}- home{% endblock %}

{% block body %}

<div style="height: 50px;"></div>
<img src="{% static "images/chefhat.png" %}" height="350px" width="350px">
<div style="height: 50px;"></div>
<p class="text text-md font-robo color-white">
  It's in the kitchen.<br>
  Stay tuned...
</p>
<div style="height: 25px;"></div>
<p class="text text-md font-robo color-white">
  Updates on our
  <a class="text-underline color-white" href="https://twitter.com/chefhatapp">twitter</a>.
</p>
<div style="height: 25px;"></div>
<p class="text text-md font-robo color-white">
  Or you can email us at<br>
  <a class="text-underline color-white" href="mailto:support@chefhat.org">support@chefhat.org</a>.
</p>
<div style="height: 25px;"></div>
<p class="text text-md font-robo color-white">
  You can find our code at<br>
  <a class="text-underline color-white" href="https://github.com/chefhat/">github.com/chefhat</a>.
</p>

{% endblock %}