::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #487c8e;
}

/* mobile devices */
@media screen {
  .wrapper {
    margin: 10px auto 10px auto;
    height: 100%;
    width: 100%;

    display: grid;
  }
}

/* less than half tab */
@media screen and (min-width: 480px) {
  .wrapper {
    margin: 10px auto 10px auto;
    height: 100%;
    width: 100%;

    display: grid;
  }
}

/* greater than half tab */
@media screen and (min-width: 720px) {
  .wrapper {
    margin: 10px auto 10px auto;
    height: 100%;
    width: 720px;

    display: grid;
  }
}

.content {
  text-align: center;
}
.color-black {
  color: #121212;
}
.color-blue {
  color: #487c8e;
}
.color-gray {
  color: #595959;
}
.color-white {
  color: #eaeaea;
}
.color-white::selection {
  background-color: #eaeaea;
  color: #487c8e;
}
.text {
  display: block;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
.text-sm {
  font-size: 12px;
  line-height: 18px;
}
.text-md {
  font-size: 16px;
  line-height: 24px;
}
.text-lg {
  font-size: 22px;
  line-height: 33px;
}
.spacing-sm {
  height: 6px;
}
.spacing-md {
  height: 10px;
}
.spacing-lg {
  height: 18px;
}
.font-robo {
  font-family: 'IBM Plex Sans';
}
.text-underline {
  text-decoration: underline;
}

a:hover {
  color: #d3d073;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.recipe-card {
  background-color: #fafafa;
  border: 2px solid #d3d073;
  padding: 20px;

  height: auto;
  width: 100% - 40px;
}

.fork-button {
  background-color: #fafafa;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

header {
  background-color: #487c8e;
  height: 70px;
  margin-bottom: 10px;
}
